# Build folders
x64/
Debug/
Release/
build/

# Visual Studio folders
.vs/
ipch/

# Compiled object files
*.obj
*.o
*.slo
*.lo
*.gch
*.pch

# Compiled libraries
*.lib
*.a
*.lai
*.la
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Linker files
*.ilk

# Debugger Files
*.pdb

# Fortran module files
*.mod
*.smod

# Debug info files
*.dwo

# Visual Studio DB files
*.VC.db
*.opendb

# Logs
*.log
